@font-face {
  font-display: swap;
  font-family: Gotham;
  font-style: normal;
  font-weight: 400;
  src: url(jwr789gyhwgr789-Book.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  src: url(jwr789gyhwgr789-Medium.woff2) format("woff2")
}


@font-face {
  font-display: swap;
  font-family: Gotham;
  font-style: normal;
  font-weight: 300 700;
  src: url(jwr789gyhwgr789-Bold.woff2) format("woff2")
}