:root {
  --header-color: #fff;
  --header-top-color: #fff;
  --header-bot-color: #F5F6F6;
  --btn-color: #0071b8;
  --custom-fonts: 'Gotham', sans-serif;
  font-size: 15px;
}

.btn-success,
.survey_button,
.info-button {
  border-radius: 20px !important;
}

body,
html {
  font-size: 1rem;
}

body,
html,
button,
h2,
p,
span {
  font-family: var(--custom-fonts) !important;
  line-height: 1.2;
}

p.question,
.comments_face,
.p_modal p,
.btn-lg,
.intro-offer--review span {
  font-size: 1rem !important;
}

.main-content h2 {
  font-size: 1.5rem !important;
}

.comment-status {
  font-size: .8rem !important;
}

.content {
  background-color: #f2f6f7
}


p.name {
  font-weight: 500 !important;
}

.main-content h2 {
  font-weight: 300;
}

.p_modal p {
  font-weight: 400 !important;
}

/* ---------------Blocks--------------- */

/* -----Header----- */

.the_header {}

.header_bcg {
  /* background-color: var(--header-color); */
}

.the_header {
  /* max-width: 1200px;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "ht"
    "hb";
  border-bottom: 1px solid #ebebeb;

}

.header--container {
  background-color: var(--header-color);
  /* border: 2px dashed #242424; */


  padding: 0 30px;
}

.header--top_container,
.header--bot_container {}

.header--top_container {}

.header--bot_container {
  /* background-color: var( --header-bot-color); */
}

.header_top,
.header_bot {
  height: 100%;
  gap: 10px;
}

.header_top {
  flex-grow: 1;
}

.header_bot {
  flex-grow: 1;
}

/* -----Header-Elements----- */

.header_top--logo_container,
.header_top--icons {
  flex-basis: 250px;
}

.header_top--icons {
  justify-content: flex-end;
}

.header_top--nav {
  flex-grow: 1;
}

.header_top--link:hover {
  background-color: #F5F6F6;
}

.header_bot--link {
  border-bottom: 2px solid transparent;
}

.header_bot--link {
  transition: all .2s ease;
}

.header_bot--link:hover {
  border-bottom: 2px solid #323232;
}

.header_top--icons {
  gap: 20px;
}

.header_top--icons--element {
  gap: 5px;
}


/* -----Logo----- */

.logo_container {}

.logo {
  width: 100px;
}


/* -----Logo-Elements----- */

.logo--img {
  width: 100%;
}

.header--logo {}

/* -----Icons----- */

.icons {
  height: 100%;

  /* border: 2px dashed #242424; */

}

/* -----Icons-Elements----- */

.icons--element {
  cursor: pointer;
  height: 100%;
}

.icons--element_coulumn {
  flex-direction: column;
  align-items: center;
}

.icons--element_row {
  flex-direction: row;
  justify-content: center;
}

.icons--icon_container {
  width: 20px;
}

.icons--icon {
  width: 100%;
}

.icons--icon_container:hover .icons--hover {
  display: none;
}

.icons--icon_container:hover .icons--hover_hidden {
  display: block;
}

.icons--hover_hidden {
  display: none;
}

.icons--divider {
  height: 20px;
  content: "";
  width: 1px;
  background-color: #6e7276;
  /* margin: 0 20px; */
}

/* -----Burger----- */

.burger {
  /* border: 2px dashed #242424; */
}

/* -----Burger-Elements----- */

.burger--wrapper {
  width: 20px;
  /* border: 2px dashed #242424; */
}

.burger--img {
  width: 100%;
}

.burger--icon {
  color: #363436;
  font-size: 40px;
}

/* -----Nav----- */

.the_nav {
  gap: 10px;
  height: 100%;
  flex-grow: 1;
  justify-content: center;

  /* border: 2px dashed #242424; */

}

/* -----Nav-Elements----- */

.nav--link {
  cursor: pointer;
  font-size: 1rem;
  padding: 20px;

  font-weight: 500;

}

.nav--link_colored
/* -----Nav-Link-Modifiers----- */

.the_nav-colored {
  color: red;
}

/* -----Search----- */

.search {
  height: 40px;
}

/* -----Search-Elements----- */

.search--btn {
  cursor: pointer;
  height: 100%;
  background-color: #fff;


}

/* -----Search--Btn-Modifiers----- */

.search--btn-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 10px;

}

.search--btn-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 10px;

}

.search--input {
  outline: 0;
  border: none;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  /* border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; */
}

.search--input::placeholder {
  padding-left: 10px;
  color: #9b9b9b;
}

.search--input:focus {
  color: black;
}

/* -----Buttons----- */

.btn_container {
  cursor: pointer;
  border: 2px dashed #242424;
}

/* -----Button-Elements----- */

.btn_container--btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px 14px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}


/* ------------------ */

.arr {
  margin-top: -7px;
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: 1.0em;
}

/* ---------------Elements--------------- */

.header--angle_divider {
  border-top: 100px solid;
  border-top-color: #F4F5F5;
  border-right: 53px solid;
  border-right-color: #115740;
}

/* ------------------ */


/* ---------------Modificators--------------- */

.flex {
  display: flex;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

/* ---------------Media--------------- */

.md_item,
.sm_item {
  display: none;
}

@media (max-width: 1115px) {

  .md_item {
    display: flex;
  }

  .lg_item {
    display: none;
  }

  .header--top_container {
    padding: 15px 20px;
  }

  .burger,
  .header_top--icons {
    flex-basis: 200px;
  }

  .header_top--icons {
    order: 0;
    justify-content: flex-start;
  }

  .header_top--logo_container {
    order: 1;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: center;
  }

  .burger {
    order: 2;
  }

  .burger--wrapper {
    margin-left: auto;
  }
}


/* ---------------------------------- */